
#footer {
    width: 512px;
    background-color: #ffcc33;
    float: left;
    margin: auto;
}
#resetButton {
    width: 33%;
    float: left;
    height: 30;
    
}
#listButton {
    width: 33%;
    float: left;
    height: 30;
}
#counter
{
    width: 33%;
    float:left;
    height: 30;
}

button{

    position: relative;
    top:50%;
}

#clear {
    clear: both;
}